body{
    background: #dbdbdb;
    color: #293440;
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    overflow-x: hidden;
}

header{
    font-family: 'Montserrat', sans-serif;
    color: #29344060;
    position: fixed;
    top: 20px;
    width: 100%;
    height: 50px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    font-kerning: 5px;
}

#user-create-container{
    color: #29344080;
    background: #efeeee;
    position: absolute;
    width: 350px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    /* border: 1px solid #29344020; */
    border-radius: 12px;
    box-shadow: -6px -6px 26px #ffffff90, 6px 6px 26px #29344040;
    box-sizing: border-box;
}

#team-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    grid-gap: 25px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.team{
    color: #29344080;
    background: #efeeee;;
    /* margin: 0 25px 0 25px; */
    position: relative;
    padding: 20px;
    margin: 0 0 10px 0;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    text-align: center;
    border: 1px solid #29344020;
    border-radius: 12px;
    box-shadow: -6px -6px 26px #ffffff90, 6px 6px 26px #29344040;
    box-sizing: border-box;
    line-height: 20px;
    z-index: 1;
}

input{
    color: #29344090;
    font-size: 17px;
    border: 1px solid #29344020;
    border-radius: 7px;
    height: 50px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344020;
}
input:focus{
    outline:none;
}
button{
    margin-top: 10px;
    color: #fff;
    background: rgb(253,29,29);
    background: linear-gradient(0deg, rgba(253,29,29,.80) 0%, rgba(215,151,60,.80) 80%);
    border: 1px solid #cac9c9;
    font-size: 17px;
    line-height: 22px;
    padding: 7px 14px;
    border-radius: 7px;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344020;
}
button:focus{
    outline:none;
}
#roster-container{
    margin-top: 40px;
    padding:40px;
    height: 500px;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 24% 24% 24% 24%;
    grid-gap: 1%;
    box-sizing: border-box;
}
#start-draft{
    position: absolute;
    font-size: 20px;
    background: rgb(253,29,29);
    background: linear-gradient(0deg, rgba(253,29,29,.90) 0%, rgba(215,151,60,.90) 80%);
    color: #fff;
    border: 1px solid #cac9c9;
    border-radius: 12px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344080;
    box-sizing: border-box;
}


#alerts, .riderCard{
    font-family: 'Muli', sans-serif;
    position: absolute;
    font-size: 20px;
    background: #efeeee;
    font-size: 15px;
    width: 356px;
    height: 300px;
    padding: 25px;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* padding: 25px; */
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344050;
    z-index: 2;
}

.riderBox{
    display: table;
    font-family: 'Muli', sans-serif;
    color: #29344080;
    background: #efeeee;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 16px #29344050;
    box-sizing: border-box;
    /* font-size: 2vmin; */
    opacity: 0%;
    border: 1px solid #ffffff20;
}
.riderBox:hover{
    color: #293440;
    background: #efeeee;
    box-sizing: border-box;
    opacity: 100%;
}
.riderBox:hover #riderpic{
    opacity: 100%;
}

#nameBox{
    font-size: 25px;
}
#picBox{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 95%;
    text-align: left;
    padding: 5px;
    border-radius: 20px;
}
td{
    padding: 5px;
}
#country, #points, #wins, #secondplaces, #poles, #lapsinfirstplace, #riderpoints, #riderteam{
    text-align: right;
    margin-left: 10px;
}

.drafted-rider{
    color: #29344080;
    margin-top:5px;
    padding: 2px;
    background: #efeeee;
    border-radius: 7px;
    box-shadow: -6px -6px 16px #ffffff80, 1px 1px 5px #29344020;
    box-sizing: border-box;
}


.team-title{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    color: #fff;
    background: rgb(253,29,29);
    background: linear-gradient(0deg, rgba(253,29,29,.80) 0%, rgba(215,151,60,.80) 100%);
    border-radius: 7px;
    box-shadow: -6px -6px 16px #ffffff80, 1px 1px 5px #29344020;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#mgplogo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 70%;
    z-index: -1;
}
#teampoints1, #teampoints2, #teampoints3, #teampoints4, .handicap{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
.handicap{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
#ridername{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    bottom: 3px;
    width: 125px;
    top: -10px;
    left: 2px;
    font-size: 16px;
    line-height: 16px;
    text-shadow: 1 1 5px black;
}
#riderpic{
    opacity: 75%;
    height: 75px;
    width: 85px;
    position: relative;
    left: 5px;
    bottom: 5px;
    box-shadow: -6px -6px 16px #ffffff80, 6px 6px 6px #29344020;
    margin-left: auto;
    margin-right: auto;
}