html{
    display: block;
    background: rgb(29,34,40);
    background: linear-gradient(180deg, rgba(29,34,40,1) 0%, rgba(36,43,49,1) 47%, rgba(21,26,31,1) 100%);
    color: #e9e9e9;
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    overflow-x: hidden;
}

#header{
    position: fixed;
    top: 20px;
    width: 100%;
    height: 50px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

#user-create-container{
    background: rgb(36,43,49);
    background: linear-gradient(180deg, rgba(36,43,49,1) 0%, rgba(36,43,49,1) 72%, rgba(21,26,31,1) 100%);
    position: absolute;
    width: 350px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c5003e;
    border-radius: 2px;
    box-shadow: 1px 1px 10px black;
    box-sizing: border-box;
}

#user-create-container:hover {
    background: rgb(67,79,89);
    background: linear-gradient(180deg, rgba(67,79,89,1) 0%, rgba(33,41,47,1) 76%, rgba(21,26,31,1) 100%)
}
#team1, #team2, #team3, #team4{
    background: rgb(36,43,49);
    background: linear-gradient(180deg, rgba(36,43,49,1) 0%, rgba(36,43,49,1) 72%, rgba(21,26,31,1) 100%);
    position: fixed;
    padding: 20px;
    left: 2.5%;
    bottom: 20px;
    width: 20%;
    text-align: center;
    border-top: 2px solid #c5003e;
    border-bottom: 2px solid #14191d;
    box-shadow: 1px 1px 10px black;
    box-sizing: border-box;
    line-height: 20px;
}
#team2{
    border-top: 2px solid rgb(34,171,33);
    left: 27.5%;

}
#team3{
    border-top: 2px solid rgb(33,171,161);
    left: 52.5%;

}
#team4{
    border-top: 2px solid rgb(134,33,171);
    left: 77.5%;
}

#team1:hover, #team2:hover, #team3:hover, #team4:hover{
    background: rgb(67,79,89);
    background: linear-gradient(180deg, rgba(67,79,89,1) 0%, rgba(33,41,47,1) 76%, rgba(21,26,31,1) 100%);
    box-shadow: 1px 1px 20px black;
}

input{
    font-size: 17px;
    border: 0px solid transparent;
    border-radius: 2px;
    height: 50px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 8px black;
}
input:focus{
    outline:none;
}
button{
    margin-top: 10px;
    color: #fff;
    background: rgb(197,0,62);
    background: linear-gradient(180deg, rgba(197,0,62,1) 0%, rgba(197,0,62,1) 81%, rgba(149,0,47,1) 100%);
    border: 1px solid #95002f;
    font-size: 17px;
    line-height: 22px;
    padding: 7px 14px;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}
button:focus{
    outline:none;
}
#roster-container{
    margin-top: 60px;
    padding:40px;
    height: 440px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 100px 100px 100px;
    box-sizing: border-box;
}
#start-draft{
    position: absolute;
    font-size: 20px;
    background: rgb(36,43,49);
    background: linear-gradient(180deg, rgba(36,43,49,1) 0%, rgba(36,43,49,1) 72%, rgba(21,26,31,1) 100%);
    border: none;
    border-bottom: 2px solid #c5003e;
    border-radius: 0px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    box-sizing: border-box;
    animation-name: pulseShadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulseShadow{
    from{box-shadow: 1px 1px 20px #0c0f11;}
    to{box-shadow: 1px 1px 40px #0c0f11;}
}

@keyframes autoHide{
    from{display: auto;}
    to{display:none;}
}

#alerts{
    font-family: 'Muli', sans-serif;
    position: absolute;
    font-size: 20px;
    background: rgb(36,43,49);
    background: linear-gradient(180deg, rgba(36,43,49,1) 0%, rgba(36,43,49,1) 72%, rgba(21,26,31,1) 100%);
    border-bottom: 2px solid #c5003e;
    font-size: 15px;
    width: 350px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px black;
}
.riderBox{
    font-family: 'Muli', sans-serif;
    color: #e9e9e9;
    background: rgb(36,43,49);
    background: linear-gradient(180deg, rgba(36,43,49,1) 0%, rgba(36,43,49,1) 72%, rgba(21,26,31,1) 100%);
    padding: 17px;
    width: 95%;
    height: 92%;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(21,26,31);
    box-sizing: border-box;
    font-size: 2vmin;
    opacity: 99%;
}
.riderBox:hover{
    background: rgb(67,79,89);
    background: linear-gradient(180deg, rgba(67,79,89,1) 0%, rgba(33,41,47,1) 76%, rgba(21,26,31,1) 100%);
    box-sizing: border-box;
    opacity: 100%;
}

#nameBox{
    font-size: 25px;
}
#picBox{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

table{

    position: relative;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 90%;
    text-align: left;
    padding: 5px;
    border-radius: 20px;
}
td{
    padding: 5px;
}
#country, #points, #wins, #secondplaces, #poles, #lapsinfirstplace{
    text-align: center;
}

.drafted-rider{
    color: black;
    margin-top:5px;
    padding: 2px;
    background: #bebebe;
    border-bottom: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    box-sizing: border-box;
}
#team-title1, #team-title2, #team-title3, #team-title4{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    /* width: 80%; */
    background: rgb(197,0,62);
    background: linear-gradient(180deg, rgba(197,0,62,1) 0%, rgba(197,0,62,1) 81%, rgba(149,0,47,1) 100%);
    border-radius: 5px;
    box-shadow: 1px 1px 15px black;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#team-title2{
    background: rgb(34,171,33);
    background: linear-gradient(180deg, rgba(34,171,33,1) 0%, rgba(31,160,28,1) 81%, rgba(21,116,7,1) 100%);
}
#team-title3{
    background: rgb(33,171,161);
    background: linear-gradient(180deg, rgba(33,171,161,1) 0%, rgba(33,171,161,1) 81%, rgba(22,122,115,1) 100%);
}
#team-title4{
    background: rgb(134,33,171);
    background: linear-gradient(180deg, rgba(134,33,171,1) 0%, rgba(134,33,171,1) 81%, rgba(89,17,115,1) 100%);
}
#mgplogo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 30%;
    z-index: -1;
}