body{
    background: rgb(219,219,219);
    background: radial-gradient(circle, rgba(219,219,219,1) 0%, rgba(190,190,190,1) 100%);
    color: #293440;
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    overflow-x: hidden;
}
img{
    border-radius: 7px;
    filter: grayscale(10%);
}
header{
    font-family: 'Montserrat', sans-serif;
    color: #29344060;
    position: fixed;
    top: 20px;
    width: 100%;
    height: 50px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    font-kerning: 5px;
}

#number-teams-container, #user-create-container{
    display: block;
    color: #29344080;
    background: #efeeee;
    position: absolute;
    width: 350px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    box-shadow: -6px -6px 26px #ffffff50, 6px 6px 26px #29344040;
    box-sizing: border-box;
}
#user-create-container{
    display: none;
}
#team-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    z-index: 1;
}

.team{
    color: #29344080;
    background: #efeeee;;
    position: relative;
    bottom: -100%;
    padding: 20px;
    margin: 0 10px;
    width: 300px;
    height: auto;
    text-align: center;
    border: 1px solid #29344020;
    border-radius: 12px;
    box-shadow: 6px 6px 26px #29344040;
    box-sizing: border-box;
    line-height: 20px;
    opacity: 0;
    z-index: 1;
}

input{
    color: #29344090;
    font-size: 17px;
    border: 1px solid #29344020;
    border-radius: 7px;
    height: 50px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344020;
}
input:focus{
    outline:none;
}
button{
    margin-top: 10px;
    color: #fff;
    background: rgb(253,29,29);
    background: linear-gradient(0deg, rgba(253,29,29,.80) 0%, rgba(215,151,60,.80) 80%);
    border: 1px solid #cac9c9;
    font-size: 17px;
    line-height: 22px;
    padding: 7px 14px;
    border-radius: 7px;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344020;
}
button:focus{
    outline:none;
}
#roster-container{
    margin: 60px 0 0 0;
    padding: 20px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    box-sizing: border-box;
    overflow: scroll;
    z-index: 0;
}
#start-draft{
    position: absolute;
    font-size: 20px;
    background: rgb(253,29,29);
    background: linear-gradient(0deg, rgba(253,29,29,.90) 0%, rgba(215,151,60,.90) 80%);
    color: #fff;
    border: 1px solid #cac9c9;
    border-radius: 12px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344080;
    box-sizing: border-box;
}


#alerts, .riderCard{
    font-family: 'Muli', sans-serif;
    position: absolute;
    font-size: 20px;
    background: #efeeee;
    font-size: 15px;
    width: 400px;
    height: 200px;
    padding: 25px;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344050;
    z-index: 2;
}
.riderCard img{
    margin: 10px;
    filter: grayscale(0%);
    border-radius: 12px;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 26px #29344050;
}

.riderBox{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Muli', sans-serif;
    color: #29344080;
    background: #efeeee;
    margin: 5px;
    width: 210px;
    height: 100px;
    align-items: center;
    line-height: 50px;
    border-radius: 12px;
    box-shadow: -6px -6px 26px #ffffff80, 6px 6px 16px #29344050;
    box-sizing: border-box;
    opacity: 97%;
    border: 1px solid #ffffff20;
}
.riderBox:hover{
    color: #293440;
    background: #efeeee;
    box-sizing: border-box;
    opacity: 100%;
}
.riderBox:hover #riderpic{
    opacity: 100%;
}
.riderBox:hover img{
    filter: grayscale(0%);
}
#nameBox{
    font-size: 25px;
}
#picBox{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 95%;
    text-align: left;
    padding: 5px;
    border-radius: 20px;
}
td{
    padding: 5px;
}
#country, #points, #wins, #secondplaces, #poles, #lapsinfirstplace, #riderpoints, #riderteam{
    text-align: right;
    margin-left: 10px;
}

.drafted-rider{
    color: #29344080;
    margin-top:5px;
    padding: 2px;
    background: #efeeee;
    border-radius: 7px;
    box-shadow: -6px -6px 16px #ffffff80, 1px 1px 5px #29344020;
    box-sizing: border-box;
}


.team-title{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    color: #fff;
    background: rgb(253,29,29);
    background: linear-gradient(0deg, rgba(253,29,29,.80) 0%, rgba(215,151,60,.80) 100%);
    border-radius: 7px;
    box-shadow: -6px -6px 16px #ffffff80, 1px 1px 5px #29344020;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#mgplogo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 70%;
    z-index: -2;
}
.teamPoints, .handicap{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
.handicap{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
#ridername{
    position: relative;

    vertical-align: middle;
    width: 100px;
    font-size: 16px;
    line-height: 16px;
    text-shadow: 1 1 5px black;
}
#riderpic{
    opacity: 75%;
    height: 75px;
    width: 85px;
    position: relative;
    box-shadow: -6px -6px 16px #ffffff80, 6px 6px 6px #29344020;

}